<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    <title>SukiMoon</title>
</head>

<body>
    {% include nav.html %}

    <div id="content">
        <header>
            <h1>{{page.title | capitalize}}</h1>
        </header>
        <main style="min-height: 65vh">
            {{ content | capitalize }}
        </main>
    </div>

    {% include footer.html %}
</body>
</html>